body{
   background-image: url("../images/bg1.jpeg");
  
    background-repeat: no-repeat;
    background-size: 100% 91.5%;
    overflow:hidden;
    
 }
.index{
    color: rgb(0, 0, 0);
    font-size:x-large;
    font-style: oblique;

 }
.form1{
    font-size:x-large;
    font-style: oblique;
    margin-top:0.5%;
    margin-left:45%;
 }
.button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:2%;
    background-color: rgb(255, 255, 255);
    font-weight:bold;
    font-size: large;
    line-height: 220%;
    width: 7%;
    border-radius: 20px;
    border-color: black;
    border-width: medium;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    
 }
 button[type=submit]:hover {
   background-color: rgb(144, 211, 255);

 }
h1{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top:2%;
    
 }
h5{
    margin-left: auto;
    margin-right: auto;
    font-size:95%;
    display: block;
    text-align: center;
    text-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
 }
.panda img{
    
    height:7%;
    width: 7%;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

 input{
   
    display: inline-block;
    margin-left: -3%;
    margin-right: auto;
    margin-top: -2%;
    font-weight: bold;
   font-size: large;
   border-width: medium;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
   cursor: pointer;
   border-radius: 20px;
   border-color: black;
   line-height: 230%;
   width: 25%;
}

h6{
   margin-top:-2%;
   margin-left:45%;
   opacity: 0%;
 }
