body{
    background-color: rgb(142, 188, 238)
}

h1{
    font-size: 300%;
    text-align: center;
    text-emphasis: size;
    margin-top: 1%;
}
h2{
    text-align: center;
    text-emphasis: size;
    margin-top: 1%;
}

h3{
    font-style: italic;
    text-align: center;
    margin-top:1%;
    font-weight: bold;
    font-size: x-large;
    
}

.ques1 p{
 margin-top:2%;
 font-size: x-large;
 font-weight: bold;
 font-style: italic;
}

.ques2 p {
    margin-top:2%;
    margin-left:0%;
    font-size: x-large;
    font-weight: bold;
    font-style: italic;
}

.input1{
    margin-left:7.5%;
}

.input2{
    margin-left:0%;
}

input[type="radio"]{
    margin-left:5%;
    color: black;
    width: 2em; 
    height: 2em;
    
}
.cloud img{
        height:8%;
        width: 14%;
        margin-left: 0%;
        margin-top:-9% ;   
        float:left;
        float:top;
        display:"inline";    
}
body{
    align-content: center;
    text-align: justify;
}
label{
    font-size: x-large;
}

.v1 { 
    border-left: 6px solid black; 
    height: 350px;  
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
  }
  .row > * {
    margin: 0 2%;
  }

.col {
    display: flex;
    flex-direction: column;
    flex-basis: fit-content;
    
  }

.question1{
  width: 400px;
  height: 300px;
  padding: 15px;
  background-color: rgb(101, 199, 208);
  border-radius : 30px;
  border-color: black;
  border-width : 4px;
  border-style: solid;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.35);
  }

  .question2{
    width: 400px;
    height: 300px;
    padding: 15px;
    background-color: rgb(101, 199, 208);
    border-radius : 30px;
    border-color: black;
    border-width : 4px;
    border-style: solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.35);
  }

  .button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    background-color: lightblue;
    font-weight: bolder;
    font-size: large;
    line-height: 300%;
    border-radius: 25px;
    border-color: black;
    border-width: thick;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
  }

  .panda img{
    height:7%;
    width: 7%;
    display: block;
    text-align: center;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
 }

  button[type=submit]:hover {
    background-color: rgb(141, 198, 218)
 
  }

